.Notifications {
  border: ridge #1ed2ac;
  padding: 0px 20px;
  margin: 10px;
  background-color: #fff8e6;
  font-family: sans-serif;
  color: #00003c;
}

button {
  font-weight: bold;
  background-color: #fff8e6;
  border: 2.5px ridge #1ed2ac;
  margin: 1.6px 1.5px 0px 0px;
}
button:hover {
  background-color: #eee7d5;
  color: #00002b;
}

[data-priority="default"] { color: #0000a9; }
[data-priority="urgent"] { color: #e11d3f; }
